<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>impots v2</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/lodash/4/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
        <div class="container" id="app">
            <div class="form-group">
                <label class="form-label" for="revenu">Revenu</label>
                <input id="revenu"
                       class="form-control form-control-sm"
                       placeholder="revenu"
                       v-model="revenu">
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" id="frais" type="checkbox" v-model="frais">
                <label class="form-check-label" for="frais">-10% de frais</label>
            </div>
            <hr>
            <table class="table-sm table-borderless">
                <caption>impots par tranche</caption>
                <thead class="thead-light">
                    <tr>
                        <td>tranche</td>
                        <td>base</td>
                        <td>taux</td>
                        <td>montant</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="t in imp">
                        <td>{{ t.hi }}</td>
                        <td>{{ t.base }}</td>
                        <td>{{ t.percent }}</td>
                        <td>€{{ t.du.toFixed(2) }}</td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td>reference</td>
                            <td>{{ ref }}</td>
                            <td>total</td>
                            <td>€{{ tot }}</td>
                        </tr>
                    </tfoot>
                </tbody>
            </table>
            <hr>
            <!--div class="alert alert-primary">impots par tranche</div-->
            <footer><code>(current-year) &copy; (user)</code></footer>
        </div>
        <script src="./impots-v2.js"></script>
    </body>
</html>
