@import "./markdown.css";

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/**/

:root {
    --theme-dark: #374151;
}

thead {
    font-weight: bold;
    background-color: ghostwhite;
    border-bottom: thin solid gainsboro;
}

tfoot {
    color: var(--bs-danger);
    border-top: thin solid gainsboro;
}

tr:hover {
    background-color: ghostwhite;
}
table {
    color: var(--theme-dark);
    width: 70%;
    table-layout:fixed;
}
